PORT=3000
CTYUN_URL=https://eaichat.ctyun.cn/ai/portal/v3/openai/chat/completions
CTYUN_TOKEN=
CTYUN_COOKIE=
DEFAULT_MODEL=TEXT_DEEPSEEK_V4
TENANT_ID=15
VERIFY_ID=
CTYUN_USER_AGENT=Mozilla/5.0 (iPhone; CPU iPhone OS 18_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 IOS/WKWebKit WEB/CloudDesktop platform/CloudDesktop mainVersion/1040000011
CTYUN_X_USER_AGENT=Mozilla/5.0 (iPhone; CPU iPhone OS 18_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 IOS/WKWebKit WEB/CloudDesktop platform/CloudDesktop mainVersion/1040000011
CTYUN_EAI_ENV=pubH5
CTYUN_ACCEPT_LANGUAGE=zh-CN,zh-Hans;q=0.9